@media (min-width:760px) {

    .login_image {
        background-image: url(https://i.im.ge/2022/09/21/1IjlAf.Frame-946-1.png);
        background-position: center;
        background-size: cover;
    }

}


@media (min-width:760px) {

    .signup_image {
        background-image: url(https://i.im.ge/2022/09/21/1DGBDY.Frame-946.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}