.map {
    background: url(../../assets/images/map3.png) no-repeat center center;
    background-size: contain;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .map {
        background: url(../../assets/images/map.png) no-repeat center center;
        background-size: contain;
        width: 100%;
        height: 40vh;
    }
}